.mainOrder-container{
    margin: 2rem;
    font-family: "poppins", sans-serif;
}

.order-container {
    /* z-index: 1; */
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-flow: column;
   margin: 1rem;
}

.order-comp{
    border: solid;
    border-radius: 5px;
    border-width: 1px;
    border-color: rgb(189, 187, 187);
   width: 120vh;
   margin: 1rem;
   height:auto;
   padding: 2rem;
   background-color: rgb(239, 240, 240);
}
.listView-container{
    background-color: rgb(224, 224, 224);
    margin: 1rem;
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 1rem;
    height: 10vh;
}

.img {
    height: 80px;
    width: 80px;
    padding: 1rem;
    margin: 1rem;
}

label{
    padding: 1rem;
}

.success{
    color: green;
}
.details-container{
    display: flex;
}
.orderId{
    margin-left: auto;
    
}

span {
    font-weight: bold;
}
.totalamount{
    margin-left: auto;
    font-weight: bold;
    font-size: 22px;
}