.mainBody{
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

.musiclist{
    align-items: center;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 55rem;

    margin-left: 21%;

}
.pagination-container{
    margin-top: 50px;
}
.paginationBtn {
    border: 1px;
    background-color: rgb(84, 139, 194);
    font-weight: bold;
    color: white;
    height: 25px;
    width: 30px;
    margin: .4rem;
    font-size: .7rem;
}
button {
    font-family: "poppins", sans-serif;
}