.header {
    background-attachment: fixed;
    background-color: black;
    color: white;
    align-items: center;
    text-align: center;
    height: 3rem;
}
.cart-button{
    background-color: black;
    color: white;
    border-width: 2px;
    border-color: aqua;
    margin-left: 90%;
    border-radius: 7px;
    border: 2px solid #56CCF2;
    
}
.header {
    background-attachment: fixed;
    background-color: black;
    color: white;
    align-items: center;
    text-align: center;
    height: 3rem;
}
.cart-button{
    background-color: black;
    color: white;
    border-width: 2px;
    border-color: aqua;
    margin-left: 90%;
    border-radius: 7px;
    border: 2px solid #56CCF2;
    
}

    .header {
        background-attachment: fixed;
        background-color: black;
        color: white;
        align-items: center;
        text-align: center;
        height: 3rem;
    }

    .titlediv{    
        font-size: 18px;
        font-weight: 200;
        padding: 1rem;
    }
    .titlelabels{
        cursor: pointer;
        margin-left: 40px;
        align-content: center;
        color: white;
        font-weight: bold;
    }

.titlelabels{
    cursor: pointer;
    margin-left: 40px;
    align-content: center;
    color: white;
    font-weight: bold;
}
.titlelabels{
    cursor: pointer;
    margin-left: 40px;
    align-content: center;
    color: white;
    font-weight: bold;
    text-decoration: none;
    margin: 1rem;
    padding: 1rem;
}
.logout-BTN{
   
    margin-left: 1400px;
    margin-top: -35px;
    padding-top: 20px;
    width: 100px;
    
    height: 60px;
    
}
.cart-button{
    background-color: black;
    color: white;
    border-width: 2px;
    border-color: aqua;
    margin-left: 90%;
    border-radius: 7px;
    border: 2px solid #56CCF2;
    height: 30px;
    width: 80px;
    font-weight: bold; 
    
}
.cart-button:hover{
background-color: #56CCF2;
color: black;
text-align: center;
}

.cartClassbtn{   
    margin-top: -40px;
    height: 5px;
    margin-left: 1250px;
    width: 50px;
    
}
.logout-Button{
    height: 30px;
    width: 85px;
    background-color: black;
    color: white;
    font-weight: bold;
    text-align: center;
    border-width: 2px;
    border-radius: 7px;
    border-color: aqua;
    border: 2px solid #56CCF2;
}
.logout-Button:hover{
    background-color: #56CCF2;
    color: black;
    text-align: center;
    }